  
.container-fluid
  .row 
    .col-md-6
      =image_tag "http://raspi.local:3001", class: "webcam-img"
      .temp-wrap
        .row 
          .col-md-6
            %p.text-left
              ="Temperature:"
              %span="#{@temp}℉"
          .col-md-6
            %p.text-right
              ="Humidity:"
              %span="#{@hum}%"

    .col-md-6
      .chart= line_chart [{name: "Temperature", data: @temps},{name: "Humidity", data: @hums}], min: 30, max: 90
