@import "bootstrap-sprockets"
@import "bootstrap"
@import url(https://fonts.googleapis.com/css?family=Lato:300,400)

body
  font-family: 'Lato', avenir, arial, sans-serif

.temp-wrap 
  @media (max-width: $screen-md)
    p 
      text-align: center !important

p
  margin: 30px 0 40px
  padding: 0
  font-size: 26px
  line-height: 26px
  color: #ABABAB
  font-weight: 300
  @media (max-width: $screen-md)
    display: block

  span 
    color: #373737
    font-weight: 400

img
  max-width: 100%
  width: 100%
  display: inline-block 
  margin: 20px auto

.chart, .chart > div 
  margin: 20px auto
  height: 36vw !important
  width: 100%
  @media (max-width: $screen-md)
    height: 100vw !important