!!!
%html
  %head
    %title Growtent
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    =favicon_link_tag "favicon.ico"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"
    = csrf_meta_tags

  %body
    = yield
